body { 
    background: linear-gradient(90deg, rgb(241, 174, 174), rgb(158, 158, 235), rgb(108, 245, 192)); 
    margin: 20px; 
    display: flex;
    flex-direction: row;

}

#left { 
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: row;
    margin-top: 90px;
    font-size: 28px;
    font-weight: bolder;
}

#middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 730px;
    height: 730px;
    background-color: rgb(222, 238, 243, 0.7);
    margin-top: 90px;
    border-radius: 30px;
    font-size: 30px;
    font-weight: bolder;
    box-shadow: 0px 0px 60px rgb(222, 238, 243);
}

#right { 
    display: flex;
    width: 30%;
    height: 500px;
    flex-direction: row;
    margin-top: 90px;
}

.click-here {
    height: 50px;
    width: 150px;
    text-align: center;
}

a {
    color:#000000;
    text-decoration: none;
}

a:hover {
    color: rgb(158, 158, 235);
}

.small-text { 
    font-size: 18px;
}