body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 12px;
    background: linear-gradient(90deg, rgba(133, 234, 122, 0.466), rgba(33, 231, 145, 0.411), rgba(23, 123, 121, 0.507));
    margin: 50px;
}

#left {
    height: 600px;
    color: #000000;
    font-size: 24px;
    font-weight: bolder;
}

#click-here { 
    display: flex;
    text-align: center;
    width: 180px;
    background-color: #0f34;
}

#click-here:hover {
    color:rgb(148, 20, 160);
    text-decoration: none;
}

#middle {
    background-color: blue;
    display: flexbox;
    flex-direction: column;
    
}

#right {
    background-color: blueviolet;
}